mode: ha

node:
  id: {{ gruezi_node_id }}

ha:
  bind: {{ gruezi_bind }}
  interface: {{ gruezi_interface }}
  group_id: {{ gruezi_group_id }}
  addresses:
    - {{ gruezi_vip }}
  peer: {{ gruezi_peer_ip }}:9375
  protocol_version: {{ gruezi_protocol_version }}
  priority: {{ gruezi_priority }}
  preempt: {{ gruezi_preempt | lower }}
  advert_interval_ms: {{ gruezi_advert_interval_ms }}
  dead_factor: {{ gruezi_dead_factor }}
  hold_down_ms: {{ gruezi_hold_down_ms }}
  jitter_ms: {{ gruezi_jitter_ms }}
  auth:
    mode: shared_key
    key: {{ gruezi_shared_key }}
